server:
  port: 8081
  forward-headers-strategy: framework

spring:
  application:
    name: auth-service
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 79734938400-lj7ubhkg3n8siomls9f1bgan87nduvmd.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
          facebook:
            client-id: 1368309891655435
            client-secret: a14c269eb52ebf07474e91114b33c4e1
            scope:
              - email
              - public_profile
        provider:
          google:
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
          facebook:
            user-info-uri: https://graph.facebook.com/me?fields=id,name,email
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    username: root
    password: 21012005
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

app:
  rabbitmq:
    exchange: user.exchange
    send-queue: user.created.queue
    listen-queue: user.admin.created.queue
    send-queue-update: user.admin.updated.queue
    send-routing-key: user.created
    send-routing-key-update: user.updated
    listen-routing-key: user.admin.created

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true      # Dùng IP thay vì hostname
    ip-address: 127.0.0.1

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    prometheus:
      enabled: true

minhnb:
  jwt:
    base64-secret: Muw9kQMoEFTnfKm5sHbvqus3GvSYF4mSCL3ay11sjkRGLpMnvBTpsRF/bDHZmuI5ROhJ23QuZhOb1Cx3OZxy0w==
    access-token-validity-in-seconds: 1800
    refresh-token-validity-in-seconds: 2592000